<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <title>Cart | Kip Store</title>
  <link href="/style.css" rel="stylesheet">
</head>

<body>
  <h1>Someone Else's Cart</h1>
  <ul>
    <li>You are an anonymous <%=session.animal%>.</li>
    <li>Cart leader is <%=cart.leader.email_address%></li>
  </ul>
  <form id="form1" action="/api/addItem" method="get">
      <div style="margin-bottom:10px">
          <label for="text"><b>Click a Popular Item:</b> <br> Red Bull, Peanut Butter</label><br><br>
          <input required type="text" id="url" name="url" placeholder="Paste Amazon URL" value="">
          <input type="hidden" id="cart_id" name="cart_id" value="<%=cart.id%>">
      </div>

      <div>
          <button type="submit" name="Add to Cart">Add to Cart</button>
      </div>
  </form>

  <h2>Cart Items</h2>
  <ul>
  <% for(var i=0; i<cart.items.length; i++) {%>
     <li><%= cart.items[i].original_link %></li>
  <% } %>
  </ul>
  <!-- <p>Would you like to become non-anonymous?</p>
  <form method="get" action="identify">
    <label for="email">Enter your Email</label>
    <input type="email" id="email" name="email" />
    <input type="hidden" value="<%=cart.id%>" />
  </form> -->
</body>

</html>
